<html>
<title>TRIPPER-AboutUs</title>
<link rel='stylesheet' href="style.css">
<body style="background-color:grey;">
	<div class="navbar">
		<h1 class="logo">Roadmaster</h1>
			<ul class="nav">
				<li><a href="index.html" class="hoverlink">Home</a></li>
				<li><a href="rides.html" class="hoverlink">Rides</a></li>
				<li><a href="service.html" class="hoverlink">Service</a></li>
				<li><a href="about.html" class="hoverlink">About Us</a></li>
				<li><a href="contact.html" class="hoverlink">Contact Us</a></li>
				<li><a href="lab3.xml" class="hoverlink">XML</a></li>
			</ul>
	</div>
	<img src="cover2.jpg" style="width: 100%; margin-top: -50px;">
<div style ="position: fixed;
bottom: 0;
background: rgba(0, 0, 0, 0.5);
color: #f1f1f1;
width: 100%;
padding: 20px;">
	
	<h1>Why we <span style="color: yellow;">ride</span></h1>
	<div style="padding-right: 20%;">
	Getting on two wheels opens you up to whole other worlds of fun, adventure and possibilities. It changes your relationship with the road, with your commute, with your travels. 
	Many riders tell us that their rides move them – not just physically, but in a much deeper way. When traveling by motorcycle, 
	you engage all your senses. You feel the air temperatures change, you smell the world around you, you move with the turns – 
	all these things would be missed if you were in a car, bus, train, plane or other mode of transportation.
	</div>
</div>
</body>
</html>