<html>
<title>TRIPPER-Home</title>
<link rel='stylesheet' href="style.css">
<body style="background-color:grey;">
	<div class="navbar">
		<h1 class="logo">Roadmaster</h1>
			<ul class="nav">
				<li><a href="index.html" class="hoverlink">Home</a></li>
				<li><a href="rides.html" class="hoverlink">Rides</a></li>
				<li><a href="service.html" class="hoverlink">Service</a></li>
				<li><a href="about.html" class="hoverlink">About Us</a></li>
				<li><a href="contact.html" class="hoverlink">Contact Us</a></li>
				<li><a href="lab3.xml" class="hoverlink">XML</a></li>
			</ul>
	</div>
	<video autoplay muted loop style="position: fixed; right: 0; bottom: 0; min-width: 100%; min-height: 100%;">
		<source src="homepage.mp4" type="video/mp4">
	</video>
<div style ="position: fixed;
bottom: 0;
background: rgba(0, 0, 0, 0.5);
color: #f1f1f1;
width: 100%;
padding: 20px;">
	
	<h1>Ride to <span style="color: yellow;">Explore</span></h1>
	<audio controls>
		<source src="homeaudio.mp3" type="audio/mp3">
	  Your browser does not support the audio element.
	  </audio>
</div>
</body>
</html>