<html>
<title>Nikon-Products</title>
<body style="background-color:grey;">
<center>
<img src="logo.png" width="100" height="100">
<table border='0' width='45%' bgcolor='grey' height='8%'>
	<tr>
		<th width='20%'><a href='home.html'><font color='white' size='4'>Home</font></a></th>
		<th width='20%'><a href='product.html'><font color='white' size='4'>Products</font></a></th>
		<th width='20%'><a href='service.html'><font color='white' size='4'>Service</font></a></th>
		<th width='20%'><a href='contact.html'><font color='white' size='4'>Contact us</font></a></th>
		<th width='20%'><a href='about.html'><font color='white' size='4'>About us</font></a></th>
		<th width='20%'><a href='register.html'><font color='white' size='4'>Register</font></a></th>
		<li><a href="lab3.xml" class="hoverlink">XML</a></li>
	</tr>
</table>
<br>
</br>
<img src="product page.jpg" width="1300" height="650">
<table border='0' width='75%'>
	<tr align='center'>
		<td>
			<img src="z6.png" width="250" height="250"><br>
			Z 6<br>
			Rating 4.6<br><br>
			<button onclick="alert('This is a demo website')">Buy</button>
		</td>
		<td>
			<img src="z5.png" width="250" height="250"><br>
			Z 5<br>
			Rating 4.7<br><br>
			<button onclick="alert('This is a demo website')">Buy</button>
		</td>
		<td>
			<img src="z7.png" width="250" height="250"><br>
			Z 7<br>
			Rating 4.8<br><br>
			<button onclick="alert('This is a demo website')">Buy</button>
		</td>
	</tr>
	<tr align='center'>
		<td>
			<img src="d500.png" width="250" height="250"><br>
			D500<br>
			Rating 4.8<br><br>
			<button onclick="alert('This is a demo website')">Buy</button>
		</td>
		<td>
			<img src="d750.png" width="250" height="250"><br>
			D750<br>
			Rating 4.7<br><br>
			<button onclick="alert('This is a demo website')">Buy</button>
		</td>
		<td>
			<img src="d850.png" width="250" height="250"><br>
			D850<br>
			Rating 4.8<br><br>
			<button onclick="alert('This is a demo website')">Buy</button>
		</td>
	</tr>
	<tr align='center'>
		<td>
			<img src="14-24 f2.8.png" width="250" height="250"><br>
			14-24mm f2.8 Z mount<br>
			Rating 4.8<br><br>
			<button onclick="alert('This is a demo website')">Buy</button>
		</td>
		<td>
			<img src="24-70 f2.8.png" width="250" height="250"><br>
			24-70mm f2.8 Z mount<br>
			Rating 4.7<br><br>
			<button onclick="alert('This is a demo website')">Buy</button>
		</td>
		<td>
			<img src="35 f1.8.png" width="250" height="250"><br>
			35mm f1.8 Z mount<br>
			Rating 4.6<br><br>
			<button onclick="alert('This is a demo website')">Buy</button>
		</td>
	</tr>
	<tr align='center'>
		<td>
			<img src="70-200 f2.8.png" width="250" height="250"><br>
			70-200mm f2.8 Z mount<br>
			Rating 4.8<br><br>
			<button onclick="alert('This is a demo website')">Buy</button>
		</td>
		<td>
			<img src="85 f1.8.png" width="250" height="250"><br>
			85mm f1.8 Z mount<br>
			Rating 4.7<br><br>
			<button onclick="alert('This is a demo website')">Buy</button>
		</td>
		<td>
			<img src="70-200 f2.8 vr.png" width="250" height="250"><br>
			70-200mm f2.8 F mount<br>
			Rating 4.8<br><br>
			<button onclick="alert('This is a demo website')">Buy</button>
		</td>
	</tr>
</table>
</center>
</body>
</html>