<html>
<title>TRIPPER-Rides</title>
<link rel='stylesheet' href="style.css">
<center>
<body style="background-color:black;">
	<div class="navbar">
		<h1 class="logo">Roadmaster</h1>
        <ul class="nav">
            <li><a href="index.html" class="hoverlink">Home</a></li>
            <li><a href="rides.html" class="hoverlink">Rides</a></li>
            <li><a href="service.html" class="hoverlink">Service</a></li>
            <li><a href="about.html" class="hoverlink">About Us</a></li>
            <li><a href="contact.html" class="hoverlink">Contact Us</a></li>
            <li><a href="lab3.xml" class="hoverlink">XML</a></li>
        </ul>
	</div>
</div>
    
<img src="rides.jpeg" style="right: 0; bottom: 0; min-width: 100%; height: 80%;"/>

<div style ="position: absolute;
text-align: left;
bottom: 150;
background: rgba(0, 0, 0, 0.5);
color: #f1f1f1;
width: 100%;
padding: 20px;">

<h1>Explore <span style="color: yellow;">Rides</span></h1>
</div>
<div class="content" >

    <table style="padding-bottom: 20px; border-spacing: 15px;" width='100%' height="400" cellspacing="0" cellpadding="0">
        <tr>
            <td>
                <div class="card">
                    <img src="astral.jpg" style="width:100%">
                    <div class="container">
                      <h4><b>ASTRAL RIDE</b></h4>
                      <p>500 KM</p>
                      <button class= 'btn' onclick="alert('This feauture is still being built.')">Register</button>
                    </div>
                  </div>
            </td>
            <td >
                <div class="card">
                    <img src="astral.jpg" style="width:100%">
                    <div class="container">
                      <h4><b>ASTRAL RIDE</b></h4>
                      <p>500 KM</p>
                      <button class= 'btn' onclick="alert('This feauture is still being built.')">Register</button>
                    </div>
                  </div>
            </td>
            <td >
                <div class="card">
                    <img src="astral.jpg" style="width:100%">
                    <div class="container">
                      <h4><b>ASTRAL RIDE</b></h4>
                      <p>500 KM</p>
                      <button class= 'btn' onclick="alert('This feauture is still being built.')">Register</button>
                    </div>
                  </div>
            </td>
            <td >
                <div class="card">
                    <img src="astral.jpg" style="width:100%">
                    <div class="container">
                      <h4><b>ASTRAL RIDE</b></h4>
                      <p>500 KM</p>
                      <button class= 'btn' onclick="alert('This feauture is still being built.')">Register</button>
                    </div>
                  </div>
            </td>
        </tr>
    </table>
</div>
</center>
</body>
</html>